@import "tailwindcss";

/* 피그마 디자인 시스템의 CSS이름을 몇개 옮기긴 했는데 애매한게 있어서 라벨은 안옮겼습니다. */

@theme {
  --color-Primary-100: #f3f7ff;
  --color-Primary-200: #dae7ff;
  --color-Primary-300: #a7c6ff;
  --color-Primary-400: #74a4ff;
  --color-Primary-500: #0e62ff;

  --color-White: #ffffff;
  --color-Black: #1a1e27;
  --color-Dark-Gray: #505866;
  --color-Light-Gray: #b1b8c0;

  --color-Gray-50: #fbfcfe;
  --color-Gray-100: #e8eaec;
  --color-Gray-200: #b1b8c0;
  --color-Gray-300: #64768c;

  --color-Error: #c33f38;
  --color-Information: #3d90e3;
  --color-Warning: #eeab46;
  --color-Success: #67ac5c;

  --font-sans: "SUIT", sans-serif;
}

@layer utilities {
  .text-head {
    font-size: 2.67rem;
    line-height: 150%;
    letter-spacing: -1%;
  }

  .text-subtitle-01 {
    font-size: 2rem;
    line-height: 150%;
    letter-spacing: -1%;
  }

  .text-subtitle-02 {
    font-size: 1.67rem;
    line-height: 150%;
    letter-spacing: -1%;
  }

  .text-body-01 {
    font-size: 1.33rem;
    line-height: 150%;
    letter-spacing: -1%;
  }

  .text-body-02 {
    font-size: 1.17rem;
    line-height: 150%;
    letter-spacing: -1%;
  }

  .text-caption-01 {
    font-size: 1rem;
    line-height: 150%;
    letter-spacing: -1%;
  }

  .text-caption-02 {
    font-size: 0.83rem;
    line-height: 150%;
    letter-spacing: -1%;
  }
}
